@use "../Styles/reset.scss";


.app{
  margin:50px auto;
    background-color:#1864c4;
    border-radius: 20px;
    width: 1200px;
    height: fit-content;
    padding: 50px;
    display: flex;
    justify-content: space-between;
  .todo-app-container{
    padding: 20px;
    width: 525px;
    background-color: #ffffff;
    border-radius: 20px;

  }
  .widgets-container{
    padding: 20px;
    width: 525px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 50px;
    height: fit-content;
  }
}